<% content_for @title= @classroom.name %>

    <%= link_to 'Creez un exercice', new_classroom_exercice_path(@classroom), class:"lnb lnb-blue place-items-center" %>

<div class="list-container">
    <h2>Quizzes pages for classroom</h2>
    <%= render partial: "display_classroom_exercices_student", locals: {group: @group} %>
</div>