<% classroom.exercices.chrono.each do |q| %>
    <p class=""> Eleve</p>
    <% if q.completed_by(current_user) %>
        <%= render partial: "completed_exercice", locals: {q: q} %>
    <% else %>
        <%= render partial: "unattempted_exercice", locals: {q: q} %>
    <% end %>
<% end %>
