 <div class="hidden lg:block bg-white border border-2 border border-2 rounded-md">
    <div class="h-8 bg-gray-300 ">
        <p class="ml-1">
            <span class="relative inline-flex h-5 w-3 bg-red-600 animate"></span> <i class="fas fa-book-reader mb-1"></i>
            <span class="ml-2 text-xl font-semibold">A Rendre</span>
        </p>  
    </div>
    <p class="mx-4">
        La théorie du chaos ne provient pas d'un manque de puissance de traitement, mais du fait que l
        'évolution d'un système peut être follement dépendante des conditions initiales. Les processeurs 
        avancés ne seront d'aucune aide si vous ne connaissez pas les paramètres pertinents pour y programmer
    </p>
 </div>

 <!-- General-->
 <!--Info General-->
  <div class="hidden lg:block bg-white border border-2 mt-4 border border-2 rounded-md">
    <div class="h-8 bg-gray-300 ">
        <p class="ml-1">
            <span class="relative inline-flex h-5 w-3 bg-blue-600 animate"></span>
            <span class="ml-2 text-xl font-semibold">Infos Générale</span>
        </p>  
    </div>
    <p class="mx-4">
        La théorie du chaos ne provient pas d'un manque de puissance de traitement, mais du fait que l
        'évolution d'un système peut être follement dépendante des conditions initiales. Les processeurs 
        avancés ne seront d'aucune aide si vous ne connaissez pas les paramètres pertinents pour y programmer
    </p>
 </div>