<div class="w-3/4 flex flex-wrap content-start text-sm">
    <p class="mr-4 lg:mr-8"> <i class="fas fa-chalkboard-teacher"></i> voir exercices</p>
</div>
<div class="w-1/4 flex ">
    <p class="">
    <% if :students? %>
        <i class="fas fa-users-class"></i> Traité
    <% else %>
        <i class="fas fa-users-class"></i> Créer exercice
    <% end %>
    </p>
</div>
