<div class="w-3/4 flex flex-wrap content-start text-sm">
    <p class="mr-4 lg:mr-8"><i class="far fa-arrow-alt-up"></i> Vote Positif</p>
    <p class="mr-4 lg:mr-8">Vote Negatif</p>
    <p class="mr-4 lg:mr-8"> <i class="fas fa-chalkboard-teacher"></i> Prof</p>
</div>
<div class="w-1/4 flex ">
    <p class="">
        <i class="fas fa-users-class"></i> Faire Traité
    </p>
</div>
