<h1 class="text-md">Les exercices</h1>
<% exercices.each do |e| %>
    <%= link_to course_exercice_path(course, e), class:"no-underline hover:no-underline " do %>
        <div class=" mt-2 card">
            <div class="text-black text-md  m-2">
                <%= e.name %>
            </div>
        </div>
    <% end %>
<% end %>
