<div class="m-2">
    <div class="w-full md:w-2/3">
      <h2 class="font-semibold text-xl m-2"> <%= @course.title %> </h2>
    </div>
    <div class="card rounded-md md:w-2/3">
      <div class="m-2 ">
        <%= @course.content %>
      </div>
    </div>

    <!-- Add exercices list for medium--->
    <div class="card mt-2 md:w-2/3">
      <div class="m-2">
        <%= render partial: "courses/exercices",locals: {exercices: @course.exercices, course: @course} %>
    </div>
  </div>
