<div class="m-2">
    <div class="w-full md:w-2/3">
      <h2 class="font-semibold text-xl m-2"> <%= @course.title %> </h2>
    </div>
    <div class="card rounded-md md:w-2/3">
      <div class="m-2 ">
        <%= @course.content %>
      </div>
    </div>

    <!-- Add exercices list for medium--->
    <div class="card mt-2 md:w-2/3">
      <div class="m-2">
        because they are not the few percent of Amazon hires who actually desire to work 14-hour days, so they don’t advance and don’t meet their goals.
      </div>
    </div>
  </div>
